.key{
    font-size: 0.9rem;
}
.value{
    font-size: 0.9rem
}

.well-card h4{
    font-size: 1rem;
}

.well-card{
    margin-bottom: 1rem;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    padding: 1rem;
}